<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body class="d-flex flex-column min-vh-100">
    <%- include("partials/navbar") %>

    <div class="container">
      <div class="form-container">
        <h1 class="text-center">Login</h1>
        <form action="/auth/login" method="POST">
          <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input
              type="text"
              id="username"
              name="username"
              class="form-control"
              required
              aria-label="Username"
              autocomplete="username" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              required
              aria-label="Password"
              autocomplete="current-password" />
          </div>
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
        <p class="text-center mt-3">Don't have an account? <a href="/auth/signup">Sign up here</a>.</p>
      </div>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
